{
  "projects": {
    "doutriaux1/mpas-dummy": {
      "tester_id" : "LLNL1",
      "github_status_token": "*****",
      "source_path": "/Users/doutriaux1/git/mpas-dummy",
      "wiki_path" : "/Users/doutriaux1/git/mpas-dummy.wiki",
      "commits_backlog": 1,
      "test_command" : "sleep 10",
      "test_execute_directory": "/Users/doutriaux1",
      "simultaneous_tests": false
    }
  }
}
